version: 2

repo:
  public: go-server-sdk
  private: go-server-sdk-private

branches:
  - name: v6
  - name: v5
  - name: v4

jobs:
  - docker:
      image: golang:1.18-buster
    template:
      name: go

publications:
  - url: https://pkg.go.dev/github.com/launchdarkly/go-server-sdk/v6
    description: documentation

sdk:
  displayName: "Go"
